<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Freddy's Organizer - Ajouter un animatronique</title>
<script src="/js/header.js" defer></script>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/animatronicsForm.css" />
</head>
<body>
	<header id="header"></header>
	<main>
	<form action="/animatronic/show" method="post" enctype="multipart/form-data" class="importantForm">
		
		
			<div th:if="${error}" class="error">
				<p th:text="${error}">error</p>
			</div>

			<h2>Ajout d'un animatronique :</h2>
			<div>
			<label for="image">Image :</label>
			<input type="file" name="image" id="image" accept="image/*" required />

			<label for="name">Nom de l'animatronique :</label>
			<input type="text" name="name" id="name" required
				th:value="${animatronic.name}" />

			<label for="type">Type d'animatronique :</h3>
			<select name="type" id="type" required>

				<option value="">Sélectionner un type</option>
				<option th:each="type : ${AnimatronicType}" th:value=${type}
					th:text="${type}">${type} lol</option>
			</select>
		</div>
			<button type="submit">Valider</button>
	</form>
	</main>
	<div class="divider-pattern"><!--Paterne damier--></div>
	<footer id="footer">
		<!-- C'est dans ce bloque que le fichier footer.html est chargé -->
	</footer>
</body>
</html>
