<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Animatroniques</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/searchAnimatronic.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/animatronics.css" />
  </head>

  <body>
    <header id="header"></header>
    <main>
      <div th:if="${error}" class="error">
        <p th:text="${error}">error</p>
      </div>
      <h2>Animatroniques :</h2>
      <p>
        Ici, tu trouveras tous les animatroniques de notre chaîne de restaurants
        !
      </p>

      <div class="search">
        <img src="/img/recherche.png" alt="Icône de recherche" />
        <input
          class="searchBar"
          type="text"
          id="searchQuery"
          placeholder="Rechercher un animatronique"
          autocomplete="off"
        />
        <select id="searchType" class="searchBar">
          <option value="">Sélectionner un type</option>
          <option
            th:each="type : ${AnimatronicType}"
            th:value="${type}"
            th:text="${type}"
          ></option>
        </select>
        <a href="/animatronic/add"><button>+</button></a>
      </div>

      <div id="searchResults" class="list"></div>

      <div th:if="${#lists.isEmpty(animatronics)}">
        <p>
          Aucun Animatroniques. Commencez à en ajouter en pressant le bouton
          correspondant.
        </p>
      </div>

      <ul
        id="AnimatronicList"
        th:unless="${#lists.isEmpty(animatronics)}"
        class="list"
      >
        <li th:each="animatronic : ${animatronics}">
          <span
            ><img
              th:src="@{{imgName}(imgName=${animatronic.imagePath})}"
              alt="Image de ${animatronic.name}"
            />
          </span>
          <span th:text="${animatronic.toString()}">XXXX</span>

          <form
            th:action="@{/animatronic/modify/{id}(id=${animatronic.id})}"
            method="get"
          >
            <button type="submit">Modifier</button>
          </form>
          <form
            th:action="@{/animatronic/delete/{id}(id=${animatronic.id})}"
            method="post"
          >
            <button type="submit">Supprimer</button>
          </form>
        </li>
      </ul>
    </main>
    <div class="divider-pattern"><!--Paterne damier--></div>
    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
