<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Freddy's Organizer - Modifier un animatronic</title>
<script src="/js/header.js" defer></script>
</head>
<body>
	<form action="/animatronic/update" method="POST" enctype="multipart/form-data">
		<header id="header"></header>
		<main>
			<div th:if="${error}">
				<p th:text="${error}">error</p>
			</div>
			<h2>Modifier un animatronic :</h2>

			<input type="hidden" th:value="${animatronic.id}" name="id">

			<h3>Image :</h3>
			<input type="file" name="image" id="image" accept="image/*" required />

			<h3>Nom :</h3>
			<input type="text" name="name" required
				th:value="${animatronic.name}" />

			<h3>Type d'animatronic :</h3>
			<select name="type" id="type" required>

				<option value="">--Please choose an option--</option>
				<option th:each="type : ${AnimatronicType}"
					th:if="${animatronic.type==type}" selected th:value=${type}
					th:text="${type}">${type} lol</option>
				<option th:each="type : ${AnimatronicType}"
					th:unless="${animatronic.type==type}" th:value=${type}
					th:text="${type}">${type} lol</option>
			</select>

			<button type="submit">Modifier</button>
	</form>
	</main>
	<footer id="footer">
		<!-- C'est dans ce bloque que le fichier footer.html est chargé -->
	</footer>
</body>
</html>
