<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Accueil</title>
    <!--L'attribut "defer" est là pour dire au code d'attendre le chargement complet de la page avant de charger le js
    cela permet d'être sûr que la balise "header" existe déjà quand on charge le code-->
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header id="header">
      <!-- C'est dans ce bloque que le fichier header.html est chargé -->
    </header>

    <main>
      <h2>
        Ici sont listés tous les auteurs des assets utilisés pour ce projet :
      </h2>
      <h3>
        <a href="https://www.textstudio.com/">
          Police d'écriture pour le header
        </a>
      </h3>
    </main>

    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
