<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Adhérents</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/searchChild.js" defer></script>
  </head>

  <body>
    <header id="header">
      <!-- C'est ici qu'est chargé le contenu de "header.html" -->
    </header>

    <main>
      <div th:if="${error}">
        <!-- Si il y a une erreur renvoyée par le controller, on l'affiche ici -->
        <p th:text="${error}">error</p>
      </div>

      <h2>Inscrits :</h2>
      <p>
        Ici, tu trouveras la liste de tous les adhérents à notre chaîne de
        restaurants !
      </p>

      <!-- Cet input permet de rechercher un enfant en temps réel -->
      <input
        type="text"
        id="searchQuery"
        placeholder="Rechercher un adhérent"
        autocomplete="off"
      />

      <!-- Renvoie sur le form pour ajouter un enfant-->
      <a href="/children/add"><button>Ajouter un adhérents</button></a>

      <div id="searchResults">
        <!--C'est ici que s'affiche les enfants après une recherche. Sinon, la div est cachée -->
      </div>

      <div th:if="${#lists.isEmpty(children)}">
        <!-- Si il n'y a aucun enfant dans la bdd-->
        <p>
          Aucun adhérents. Commencez à en ajouter en pressant le bouton
          correspondant.
        </p>
      </div>

      <ul id="childrenList" th:unless="${#lists.isEmpty(children)}">
        <!--Si il y a des enfants, on affiche leur noms et prénoms en appelant la méthode "toString()"-->
        <li th:each="child : ${children}">
          <span th:text="${child.toString()}">XXXX</span>

          <!--Ces deux boutons servent respectivement à envoyé sur le form de modification et à supprimer un enfant-->
          <form
            th:action="@{/children/modify/{id}(id=${child.id})}"
            method="get"
          >
            <button type="submit">Modifier</button>
          </form>
          <form
            th:action="@{/children/delete/{id}(id=${child.id})}"
            method="post"
          >
            <button type="submit">Supprimer</button>
          </form>
        </li>
      </ul>
    </main>

    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
