<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Ajouter un adhérent</title>
    <script src="/js/header.js" defer></script>
  </head>
  <body>
    <form action="/children/update" method="POST">
      <header id="header"></header>
      <main>
        <div th:if="${error}">
          <p th:text="${error}">error</p>
        </div>
      <h2>Ajout d'un adhérent :</h2>

      <input type="hidden" th:value="${child.id}" name="id">

      <h3>Nom :</h3>
      <input type="text" name="lastName" required th:value="${child.lastName}"/>

      <h3>Prénom :</h3>
      <input type="text" name="name" required th:value="${child.name}"/>

      <h3>Âge :</h3>
      <input type="number" name="age" required th:value="${child.age}"/>

      <button type="submit">Modifier</button>
    </form>
  </main>
  </body>
</html>
