<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Ajouter un adhérent</title>
    <script src="/js/header.js" defer></script>
  </head>
  <body>
    <form action="/animatronic/show" method="post">
      <header id="header"></header>
      <main>
        <div th:if="${error}">
          <p th:text="${error}">error</p>
        </div>

      <h2>Ajout d'un adhérent :</h2>

      <h3>Nom de l'animatronic :</h3>
      <input type="text" name="name" id="name" required th:value="${animatronic.name}"/>

      <h3>Type d'animatronic :</h3>
      <select name="type" id="type" required th:value="${animatronic.type}">
        
            <option value="">--Please choose an option--</option>
            <option th:each="animatronictype : ${AnimatronicType}" value="animatronictype">${animatronictype}</option>
      </select>

      <button type="submit">Valider</button>
    </form>
  </main>
  </body>
</html>
