<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Ajouter une pizza</title>
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header id="header"><!--C'est ici que le header est chargé--></header>

    <main>
      <!--Ici, puisqu'on traite des images "multipart", on doit précisé que le form en contient pour le controller
      Les values servent à préremplir le form avec les infos précédentes si il y a une erreur, pour que l'utilisateur n'ait pas
      à tout refaire.-->
      <form
        action="/pizza/show"
        method="post"
        enctype="multipart/form-data"
        class="importantForm"
      >
        <div th:if="${error}" class="error">
          <!--Les erreurs du controller s'affichent ici-->
          <p th:text="${error}">error</p>
        </div>
        <h2>Ajout d'une pizza :</h2>
        <div class="row">
          <div>
            <label for="image">Image :</label>
            <input
              type="file"
              name="image"
              id="image"
              accept="image/*"
              required
            />

            <label for="name">Nom :</label>
            <input
              type="text"
              name="name"
              id="name"
              th:value="${pizza.name}"
              required
            />
            <label for="price">Prix :</label>
            <input
              type="number"
              name="price"
              id="price"
              step="0.01"
              required
              th:value="${pizza.price}"
            />
          </div>
          <div>
            <label for="composition">Composition :</label>
            <textarea
              name="composition"
              id="composition"
              th:text="${pizza.composition}"
              rows="9"
              required
            ></textarea>
          </div>
        </div>
        <button type="submit">Valider</button>
      </form>
    </main>
    <div class="divider-pattern"><!--Paterne damier--></div>
    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
