<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Pizzas</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/searchPizza.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header id="header"><!--Ici sera chargée le contenu du header--></header>

    <main>
      <div th:if="${error}" class="error">
        <!--Ici s'afficheront les erreurs renvoyées par le controller-->
        <p th:text="${error}">error</p>
      </div>

      <h2>Pizzas :</h2>
      <p>
        Ici, tu trouveras la liste de toutes les délicieuses pizzas disponible
        dans notre chaîne de restaurants !
      </p>

      <!--Barre de recherche selon le nom de la pizza ou un élément de sa composition-->
      <div class="search">
        <img src="/img/recherche.png" alt="Icône de recherche" />
        <input
          class="searchBar"
          type="text"
          id="searchQuery"
          placeholder="Rechercher une pizza"
          autocomplete="off"
        />
        <a href="/pizza/add"><button>+</button></a>
      </div>

      <div id="searchResults" class="list">
        <!--Ici apparaissent les resultats de recherche des pizza si une recherch est faite-->
      </div>

      <div th:if="${#lists.isEmpty(pizzas)}">
        <!--Ce message s'affiche si il n'y a aucune pizza dans la bdd-->
        <p>
          Aucune pizzas. Commencez à en ajouter en pressant le bouton
          correspondant.
        </p>
      </div>

      <ul id="pizzaList" th:unless="${#lists.isEmpty(pizzas)}" class="list">
        <li th:each="pizza : ${pizzas}">
          <img
            th:src="@{{imgName}(imgName=${pizza.imagePath})}"
            alt="Image de ${pizza.name}"
          />
          <span th:text="${pizza.name}">XXXX</span>
          <span th:text="${pizza.composition}">XXXX</span>
          <span th:text="${pizza.price} + '€'">XXXX</span>
          <form th:action="@{/pizza/modify/{id}(id=${pizza.id})}" method="get">
            <button type="submit">Modifier</button>
          </form>
          <form th:action="@{/pizza/delete/{id}(id=${pizza.id})}" method="post">
            <button type="submit">Supprimer</button>
          </form>
        </li>
      </ul>
    </main>

    <div class="divider-pattern"><!--Paterne damier--></div>
    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
