<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Modifier une pizza</title>
    <script src="/js/header.js" defer></script>
  </head>
  <body>
    <header id="header"><!--Ici sera chargé le header--></header>

    <main>
      <div th:if="${error}">
        <!--Si il y a une erreur du controller, elle apparaitra ici-->
        <p th:text="${error}">error</p>
      </div>

      <form action="/pizza/update" method="post" enctype="multipart/form-data">
        <h2>Modification d'une pizza :</h2>

        <!--Id de la pizza pour pouvoir la retransmettre-->
        <input type="hidden" th:value="${pizza.id}" name="id" />

        <h3>Image :</h3>

        <input type="file" name="image" id="image" accept="image/*" required />

        <h3>Nom :</h3>
        <input
          type="text"
          name="name"
          id="name"
          th:value="${pizza.name}"
          required
        />

        <h3>Composition :</h3>
        <input
          type="text"
          name="composition"
          id="composition"
          th:value="${pizza.composition}"
          required
        />

        <h3>Prix :</h3>
        <input
          type="number"
          name="price"
          id="price"
          step="0.01"
          required
          th:value="${pizza.price}"
        />

        <button type="submit">Modifier</button>
      </form>
    </main>
  </body>
</html>
