<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Restaurants</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/searchRestaurant.js" defer></script>
    <script src="/js/showAnimatronics.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/restaurant.css" />
  </head>

  <body>
    <header id="header">
      <!-- C'est ici qu'est chargé le contenu de "header.html" -->
    </header>

    <main>
      <div th:if="${error}" class="error">
        <!-- Si il y a une erreur renvoyée par le controller, on l'affiche ici -->
        <p th:text="${error}">error</p>
      </div>

      <h2>Restaurants :</h2>
      <p>
        Ici, tu trouveras la liste de tous les restaurants de notre chaîne !
      </p>

      <!-- Cet input permet de rechercher un restaurant en temps réel -->
      <div class="search">
        <img src="/img/recherche.png" alt="Icône de recherche" />
        <input
          class="searchBar"
          type="text"
          id="searchQuery"
          placeholder="Rechercher un restaurant"
          autocomplete="off"
        />
        <select id="searchAnimatronic" class="searchBar">
          <option value="">Choisir selon un animatronique</option>
          <option
            th:each="animatronic : ${ChooseAnimatronic}"
            th:value="${animatronic.id}"
            th:text="${animatronic}"
          ></option>
        </select>
        <!-- Renvoie sur le form pour ajouter un enfant-->
        <a href="/restaurant/add"><button>+</button></a>
      </div>

      <div id="searchResults" class="list">
        <!--C'est ici que s'affiche les restaurants après une recherche. Sinon, la div est cachée -->
      </div>

      <div th:if="${#lists.isEmpty(restaurantList)}" class="list">
        <!-- Si il n'y a aucun restaurant dans la bdd-->
        <p>
          Aucun Restaurant. Commencez à en ajouter en pressant le bouton
          correspondant.
        </p>
      </div>

      <ul
        id="restaurantList"
        th:unless="${#lists.isEmpty(restaurantList)}"
        class="list"
      >
        <!--Si il y a des restaurants, on les affiche en appelant la méthode "toString()"-->
        <li th:each="restaurant : ${restaurantList}">
          <span th:text="${restaurant.name}">XXXX</span>
          <span th:text="${restaurant.address}">XXXX</span>
          <div
            style="display: none"
            th:id="'toDevoil-' + ${restaurant.id}"
            class="toDevoil"
          >
            <button class="closeDetail">Fermer</button>
            <h2>Animatroniques :</h2>
            <ul
              id="AnimatronicList"
              th:unless="${#lists.isEmpty(restaurant.animatronics)}"
              class="list"
            >
              <li th:each="animatronic : ${restaurant.animatronics}">
                <span
                  ><img
                    th:src="@{/animatronic/{imageName}(imageName=${animatronic.imagePath})}"
                    alt="Image de ${animatronic.name}"
                  />
                </span>
                <span th:text="${animatronic.toString()}">XXXX</span>
              </li>
            </ul>
          </div>

          <button class="viewAnimatronics">Voir les animatroniques</button>

          <!--Ces deux boutons servent respectivement à envoyé sur le form de modification et à supprimer un restaurant-->
          <form
            th:action="@{/restaurant/modify/{id}(id=${restaurant.id})}"
            method="get"
          >
            <button type="submit">Modifier</button>
          </form>
          <form
            th:action="@{/restaurant/delete/{id}(id=${restaurant.id})}"
            method="post"
          >
            <button type="submit">Supprimer</button>
          </form>
        </li>
      </ul>
    </main>

    <div class="divider-pattern"><!--Paterne damier--></div>
    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
