<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freddy's Organizer - Adhérents</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/moreInfo.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/children.css" />
  </head>

  <body>
    <header id="header">
      <!-- C'est ici qu'est chargé le contenu de "header.html" -->
    </header>

    <main>
      <div th:if="${error}" class="error">
        <!-- Si il y a une erreur renvoyée par le controller, on l'affiche ici -->
        <p th:text="${error}">error</p>
      </div>

      <h2>Évènement :</h2>
      <p>Ici, tu trouveras la liste de tous les évènements à venir !</p>
      <a href="/birthday/viewAllEvent" class="normalButton"
        >Afficher les anniversaires passés</a
      >

      <div th:if="${#lists.isEmpty(birthdays)}">
        <!-- Si il n'y a aucun enfant dans la bdd-->
        <p>Aucun évènements, commence par en créer un !</p>
      </div>

      <ul id="eventList" th:unless="${#lists.isEmpty(birthdays)}" class="list">
        <!--Si il y a des enfants, on affiche leur noms et prénoms en appelant la méthode "toString()"-->
        <li th:each="b : ${birthdays}">
          <p>Anniversaire de</p>
          <span
            th:text="${b.birthdayBoy.name} + ' ' + ${b.birthdayBoy.lastName}"
          ></span>
          <p>date :</p>
          <span th:text="${b.date}"></span>
          <form th:action="@{/birthday/update/{id}(id=${b.id})}" method="get">
            <button type="submit">Modifier</button>
          </form>
          <form th:action="@{/birthday/delete/{id}(id=${b.id})}" method="post">
            <button type="submit">Supprimer</button>
          </form>
        </li>
      </ul>
    </main>

    <div class="divider-pattern"><!--Paterne damier--></div>

    <footer id="footer">
      <!-- C'est dans ce bloque que le fichier footer.html est chargé -->
    </footer>
  </body>
</html>
